<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to the SampleApp </h1>
	<h2>
		this is the home page SampleApp
	</h2>
	<%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>
